p{color: rgb(46, 119, 95);}

.oioi {color: brown;

text-align: right;

font-size: 30px;}

h4.berinjela{

background-color: aquamarine;

}

p.oi1{background-color: green;}

p.oi2{background-color: yellow;
color: white;}