*{
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    
    text-align: center;
    justify-items: center;
    align-items: center;
    place-content: center;
    gap: 20px;
}

