
.container{
    height: 100vh;
    background-color: rgb(233, 233, 233);
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(7, auto);
    grid-template-areas:    
        "header header header header header header"  
        "aside aside main main main main"  
        "aside aside main main main main"  
        "article article article article section section"
        "article article article article section section"
        "footer footer footer footer footer footer"
        "footer footer footer footer footer footer";
        gap: 7px;
}


.b1 {
    grid-area: header;
    background-color: rgb(108, 108, 255);
}

.b2{
    grid-area: aside;
    background-color: orange;
}

.b3{
    grid-area: main;
    background-color: gray;
}

.b4 {
    grid-area: article;
    background-color: rgb(108, 108, 255);
}

.b5{
    grid-area: section;
    background-color: greenyellow;
}

.b6{
    grid-area: footer;
    background-color: gray;
}

